@model Warhammer.Core.Entities.Page

@{
    ViewBag.Title = "Add a Generic Page";
}
<div class="content-wrapper">

    <div class="main-content">
        <div class="content-block">
            <h2>Delete @Html.ActionLink(Model.FullName, "Index", "Page", new { id = Model.Id }, null)</h2>
            <p>Link things together for easy navigation</p>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(p => p.Id)
                @Html.HiddenFor(p => p.ShortName)
                @Html.HiddenFor(p => p.FullName)
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="DELETE" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="side-bar">
        <div class="content-block">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
