@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet" type="text/css">
    
    @if (ViewBag.EditMode)
    {

        <script type="text/javascript">

            var formmodified = 0;

            tinymce.init({
                selector: "h1.editable",
                inline: true,
                toolbar: "undo redo",
                menubar: false,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        $("#saveControls").show(500);
                    });
                }
            });

            tinymce.init({
                selector: "h2.editable",
                inline: true,
                toolbar: "undo redo",
                menubar: false,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        $("#saveControls").show(500);
                    });

                }
            });

            tinymce.init({
                selector: "div.editable",
                relative_urls: false,
                inline: true,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                @*external_plugins: {
            "moxiemanager": "@Url.Content("~/scripts/moxiemanager/plugin.min.js")"
        },*@
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                image_advtab: true,
                paste_data_images: true,
                setup: function(editor) {
                    editor.on('change', function(e) {
                        formmodified = 1;
                        $("#saveControls").show(500);
                    });
                }
            });

            $(document).ready(function() {
                window.onbeforeunload = confirmExit;

                function confirmExit() {
                    if (formmodified == 1) {
                        return "New information not saved. Do you wish to leave the page?";
                    }
                }

                $("input[name='saveAction']").click(function() {
                    formmodified = 0;
                });
            });


            function myCustomOnChangeHandler(inst) {
                $("#saveControls").show(500);
            }
        </script>
    }
</head>
    <body>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Warhammer", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            @if (Request != null && Request.Url != null)
                            {
                                if (ViewBag.EditMode)
                                 {
                                     <li>@Html.ActionLink("Switch to Read Only Mode", "ReadOnlyMode", "Create",   new {returnUrl = Request.Url.AbsoluteUri}, null)</li>
                                     <li class="dropdown">
                                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create<span class="caret"></span></a>
                                         <ul class="dropdown-menu">
                                             <li>@Html.ActionLink("New Person", "Person", "Create")</li>
                                             <li>@Html.ActionLink("New Session", "GameSession", "Create")</li>
                                             <li>@Html.ActionLink("New Session Log", "SessionLog", "Create")</li>
                                             <li>@Html.ActionLink("Place / Location", "Place", "Create")</li>
                                             <li>@Html.ActionLink("Page", "Page", "Create")</li>
                                         </ul>
                                     </li>
                                 }
                                 else
                                 {
                                     <li>@Html.ActionLink("Switch to Edit Mode", "EditMode", "Create", new { returnUrl = Request.Url.AbsoluteUri }, null)</li>
                                 }
                                 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Useful Pages<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("The Trophy Cabinet", "Trophies", "Home")</li>
                                        <li>@Html.ActionLink("Sessions", "Sessions", "Home")</li>
                                        @Html.Action("PinnedItems", "Home")
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>@Html.ActionLink("Browse...", "People", "Home")</li>
                                            <li>@Html.ActionLink("Character League", "CharacterLeague", "Home")</li>
                                        }
                                        <li>@Html.ActionLink("Graveyard", "Graveyard", "Home")</li>
                                    </ul>
                                </li>

                            }
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        }
        <div class="container body-content">
            @RenderBody()
           @if (User.Identity.IsAuthenticated)
           {
               <footer>
                   <p>&copy; @DateTime.Now.Year</p>
               </footer>
           }
        </div>

        @RenderSection("scripts", required: false)
   
    </body>
</html>
