@model Warhammer.Mvc.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">
  @using (Html.BeginForm("Edit", "Person"))
  {
      @Html.Hidden("personId", 1)
      <div class="banner-content">
          <div class="header-block">     
              <h1 id="fullName">West Park Warhammer</h1>          
          </div>

      </div>

    <div class="core-content">
        <div class="content-block">
            
            <h2 id="shortName">People</h2>
            <ul>          
                @foreach (var page in Model.MyPeople)
                {
                    <li><a href="@Url.Action("Index", "Page", new { id = page.Id} )">@page.FullName <span class="tiny"> Changed by @page.ModifiedBy.DisplayName on @page.Modified</span></a></li>
                }
            </ul>
        </div>
    </div>

    <div class="core-content">
        <div class="content-block">
            <h2 id="shortName">I made this</h2>
            <ul>
                @foreach (var page in Model.MyStuff)
                {
                    <li><a href="@Url.Action("Index", "Page", new { id = page.Id} )">@page.FullName <span class="tiny"> Changed by @page.ModifiedBy.DisplayName on @page.Modified</span></a></li>
                }
            </ul>
        </div>
    </div>

    <div class="core-content">
        <div class="content-block">
            <h2>Recent Changes</h2>
            <ul>
                @foreach (var page in Model.RecentChanges)
                {
                    <li><a href="@Url.Action("Index", "Page", new { id = page.Id} )">@page.FullName <span class="tiny"> Changed by @page.ModifiedBy.DisplayName on @page.Modified</span></a></li>
                }
            </ul>

        </div>
    </div>
  }
</div>